* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

html {
  font-size: medium;
}

.section {
  padding: 20px;
}

.article {
  padding: 20px;
}

.article-paragraph {
  padding: 20px;
  font-size: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

.box {
  width: 50px;
  height: 50px;
  background-color: #eee;
  margin-right: 10px;
}

.box:last-child {
  margin-right: 0;
}
